<footer class="main-footer py-4">
    <div class="container d-flex flex-column-reverse flex-md-row justify-content-between align-items-center">
        <p class="fw-light mb-md-0">&copy; 2024 Mzwa</p>
        <div class="text-end mb-4 mb-md-0">
            <a  target="_blank" href="https://dribbble.com/mzwwwa" class="contact-icon">
                <i class="bi bi-dribbble"></i>
            </a>
            <a  target="_blank" href="https://za.linkedin.com/in/mzwabantungubelanga" class="contact-icon">
                <i class="bi bi-linkedin"></i>
            </a>
            <a  target="_blank" href="mailto:letsbuild@mzwwwa.co.za" class="contact-icon">
                <i class="bi bi-envelope"></i>
            </a>
            <a  target="_blank" href="https://github.com/Mzwwwa" class="contact-icon">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</footer>