<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-2 col-lg-3">
                <a href="#" class="d-flex align-items-end fs-4 logo-container">
                    <svg width="47" height="35" viewBox="0 0 47 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46.48 21.2316L26.4091 3.15607H21.1273L0 21.2316H46.48Z" fill="#D8D4C0"/>
                        <path d="M23.8138 0L26.683 2.58222H20.9447L23.8138 0Z" fill="#D8D4C0"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.8692 22.0924H44.1848V35.0035H2.8692V22.0924ZM26.3961 23.24H26.9697H27.2568H32.7079V28.4044H27.2568V35.0034H26.3961V23.24ZM33.5689 23.24H32.7081V35.0034H33.5689V23.24ZM6.02519 22.6662H4.01679V27.5437H6.02519V22.6662Z" fill="#D8D4C0"/>
                    </svg>
                    <span class="logo d-none d-lg-inline-block">Mzwa</span>
                </a>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <nav class="nav">
                    <a class="nav-link active" aria-current="page" href="#about">About</a>
                    <a class="nav-link" href="#experience">Experiences</a>
                    <a class="nav-link" href="#projects">Projects</a>
                  </nav>
            </div>
            <div class="col col-lg-3 text-end">
                <a class="mz-btn gradient" href="mailto:letsbuild@mzwwwa.co.za">
                    <div class="btn-wrapper">Hire Me</div>
                </a>
            </div>
        </div>
    </div>
</header>
