:host {

    .main-header {
        padding: 2rem 0;
        border-bottom: 1px solid var(--mz-border-gray);
    }
    
    .logo {
        line-height: 1.05;
        margin-left: 15px;

        &-container { 
            text-decoration: none;
            color: white;
            font-weight: 800;
        }

        
    }

    .nav {
        text-transform: uppercase;
        max-width: 440px;
        justify-content: space-between;
        margin: auto;

        &-link {
            color: white;
            font-size: 1rem;

            &.active, &:hover, &:active {
                color: var(--mz-link-hover);
            }
        }
    }
}