:host {
    .skill {

        &-card {
            border-radius: 18px;
            border: 1px solid var(--mz-border-light);
            background-image: linear-gradient(135deg, var(--mz-dark-purple-1) 0%, var(--mz-dark-purple-2) 100%);
            max-width: 376px;
            align-items: center;
            padding: 1.05rem 1.45rem 1.05rem 1.05rem;

            @media(max-width: 600px) {
                border-radius: 12px;
             }

            @media(max-width: 600px) {
                padding: .65rem .45rem .65rem .65rem;
             }

            .years { 
                color: #90979F;

                @media(max-width: 600px) {
                    font-size: 10px !important;
                 }
            }
        }

        &-icon {
            width: 72px;
            height: 72px;
            border-radius: 12px;
            margin-right: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--mz-dark-purple);

            @media(max-width: 600px) {
                width: 40px;
                height: 40px;
                border-radius: 8px;
                margin-right: .85rem;

                img {width: 23px;}
             }
        }

        @media(max-width: 600px) {
            &-content h5 {
                font-size: 15px;
                margin-bottom: 0.25rem;
            }
         }

       
    }
}